.container {
    margin: 20px;
 }
 mat-card {
    height: 350px;
    width: 200px;
 }
 mat-card img{
     object-fit: cover; /*this makes the image in src fit to the size specified below*/
     width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
     height: 90%;
 }
 .mat-card-image{
     margin: 0 !important;
 }
 .horizontal-scroll{
     display: flex;
     overflow-x: auto;
    
 }
 mat-card-footer{
     width: 100%;
    margin-top: 15px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .cast-container{
    margin-left: 30px;
 }
 