<ng-container *ngIf="series$ | async as series" ;else loading>
  <ul class="ul-list">
    <li *ngFor="let serie of series">
      <div class="container">
        <mat-card class="card">
          <ng-container *ngIf="serie.image && serie.image.medium">
            <img mat-card-image src="{{ serie.image.medium }}" />
          </ng-container>
          <ng-container *ngIf="!(serie.image && serie.image.medium)">
            <img
              class="placeHolder"
              mat-card-image
              src="../../../../../assets/images/placeHolder.png"
            />
          </ng-container>
          <mat-card-footer> {{ serie.season }} </mat-card-footer>
        </mat-card>
      </div>
    </li>
  </ul>
</ng-container>
